.image-overlay {
    border: solid 1px #ccc;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    position: absolute;
}

.tag {
	border:1px solid #FFF;
    width: 20px;
    height: 20px;	
}

.tag-hover {
	margin:1px;
}

.tag-desc {
	background-color: #000;
	color:#FFF;	
}